.feature-box {
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 10px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
  }
  
  .feature-box:hover {
    transform: translateY(-5px);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .feature-box i {
    color: orange;
    transition: color 0.3s ease;
  }
  
  .feature-box:hover i {
    color: #ff6600; /* Darker shade of orange */
  }
  
  .feature-box h5 {
    font-weight: bold;
    color: black;
  }
  
  .feature-box-link {
    text-decoration: none;
    color: inherit;
  }
  