/* CSS for enhanced appearance */
body {
  font-family: 'Graphik', Arial, sans-serif; /* Adjust font family as per your design */
  line-height: 2rem;
  background-color: rgb(226, 225, 225);
   /* Reset default padding */
}


  .header {
    background-color: white;
    box-shadow: 0 6px 6px rgba(0, 0, 0, 0.1); /* Example box shadow */
    position: fixed; /* Make the header fixed */
    width: 100%; /* Ensure the header spans the full width */
    z-index: 1000; /* Ensure it's above other content */
    padding: 4px 4px;
  }


.navbar-custom .navbar-brand img {
  margin-right: 200px; /* Example margin for logo */
}

.navbar-custom .nav-link {
  color: rgb(100, 100, 100); /* Example link color */
  font-size: medium;
  font-weight: 550;
  margin-left: 15px;

}

.navbar-custom .nav-link:hover {
  color: rgb(212, 49, 49); /* Example hover color */
}

.navbar-custom .btn {
  margin-left: 20px; /* Example margin for buttons */
   padding: 10px 10px ;

}

.navbar-custom .btn-danger {
  background-color: rgb(212, 49, 49); /* Red background for Login button */
  border-color: rgb(212, 49, 49); /* Red border color for Login button */
}

.navbar-custom .btn-danger:hover {
  background-color: #c12121; /* Darker red on hover for Login button */
  border-color: #c12121; /* Darker border color on hover for Login button */
}

.navbar-custom .icon {
  margin-right: 5px;
   
  font-size: 0.8rem; /* Space between icon and text */
}
.navbar-custom .iconp {
  margin-right: 5px;
  color: #c12121;
  font-size: 1.3rem; /* Space between icon and text */
}

.navbar-custom .kip{
  margin-left: 18%;
}

@media (max-width: 768px) {
  .navbar-custom .btn {
   margin-left: auto;
    width: 50%;/* Example margin for buttons */
  }
}