/* CSS for enhanced appearance */
body {
  font-family: 'Graphik', Arial, sans-serif; /* Adjust font family as per your design */
  line-height: 2rem;
  background-color: rgb(226, 225, 225);
}

.header {
  background-color: white;
  padding: 5px 3px;
  box-shadow: 0 5px 19px rgba(12, 12, 12, 0.1);
}

.navbar-custom .navbar-brand img {
  margin-right: 200px; /* Example margin for logo */
}

.navbar-custom .nav-link {
  color: rgb(100, 100, 100); /* Example link color */
  font-size: medium;
  font-weight: 550;
  margin-left: 15px;

}

.navbar-custom .nav-link:hover {
  color: rgb(212, 49, 49); /* Example hover color */
}

.navbar-custom .btn {
  margin-left: 20px; /* Example margin for buttons */
}

.navbar-custom .btn-danger {
  background-color: rgb(212, 49, 49); /* Red background for Login button */
  border-color: rgb(212, 49, 49); /* Red border color for Login button */
}

.navbar-custom .btn-danger:hover {
  background-color: #c12121; /* Darker red on hover for Login button */
  border-color: #c12121; /* Darker border color on hover for Login button */
}

.navbar-custom .icon {
  margin-right: 5px; /* Space between icon and text */
}

.navbar-custom .kip{
  margin-left: 20%;
}
